.blocks-component
  display flex
  align-items center
  justify-content center

  &__item
    &--left
      padding-right 20px

    &--right
      padding-left 20px
      min-width 520px

  &__item-top
    width 300px